USE [master]
GO
/****** Объект:  Database [WonderShoes]    Дата создания скрипта: 21.09.2026 23:03:21 ******/ 
CREATE DATABASE [WonderShoes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WonderShoes', FILENAME = N'F:\SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\WonderShoes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WonderShoes_log', FILENAME = N'F:\SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\WonderShoes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WonderShoes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WonderShoes]
GO
/****** Объект:  Table [dbo].[Categories]    Дата создания скрипта: 21.09.2026 23:03:21 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id_Category] [int] NOT NULL,
	[Category_Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Factories]    Дата создания скрипта: 21.09.2026 23:03:21 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factories](
	[Id_Factory] [int] NOT NULL,
	[Factory_Name] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Factory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Order_Items]    Дата создания скрипта: 21.09.2026 23:03:21 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Items](
	[Id_Order_Item] [int] NOT NULL,
	[Id_Order] [int] NOT NULL,
	[Id_Product] [int] NOT NULL,
	[Size] [decimal](4, 1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Unit_Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Order_Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Orders]    Дата создания скрипта: 21.09.2026 23:03:21 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id_Order] [int] NOT NULL,
	[Order_Date] [date] NOT NULL,
	[Id_User] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Product_Size_Range]    Дата создания скрипта: 21.09.2026 23:03:21 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Size_Range](
	[Id_Product] [int] NOT NULL,
	[Size] [decimal](4, 1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Product] ASC,
	[Size] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Product_Stock]    Дата создания скрипта: 21.09.2026 23:03:21 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Stock](
	[Id_Product] [int] NOT NULL,
	[Size] [decimal](4, 1) NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Product] ASC,
	[Size] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Products]    Дата создания скрипта: 21.09.2026 23:03:21 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id_Product] [int] NOT NULL,
	[Id_Category] [int] NOT NULL,
	[Id_Subcategory] [int] NOT NULL,
	[Id_Factory] [int] NOT NULL,
	[Image] [nvarchar](200) NULL,
	[Product_Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Composition] [nvarchar](max) NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Roles]    Дата создания скрипта: 21.09.2026 23:03:21 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id_Role] [int] NOT NULL,
	[Role_Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Subcategories]    Дата создания скрипта: 21.09.2026 23:03:21 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subcategories](
	[Id_Subcategory] [int] NOT NULL,
	[Subcategory_Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Subcategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Users]    Дата создания скрипта: 21.09.2026 23:03:21 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id_User] [int] NOT NULL,
	[Last_Name] [nvarchar](100) NOT NULL,
	[First_Name] [nvarchar](100) NOT NULL,
	[Middle_Name] [nvarchar](100) NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Id_Role] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([Id_Category], [Category_Name]) VALUES (1, N'Детская обувь')
INSERT [dbo].[Categories] ([Id_Category], [Category_Name]) VALUES (2, N'Женская обувь')
INSERT [dbo].[Categories] ([Id_Category], [Category_Name]) VALUES (3, N'Мужская обувь')
GO
INSERT [dbo].[Factories] ([Id_Factory], [Factory_Name]) VALUES (1, N'Малыш-Спорт')
INSERT [dbo].[Factories] ([Id_Factory], [Factory_Name]) VALUES (2, N'Топ-Топ')
INSERT [dbo].[Factories] ([Id_Factory], [Factory_Name]) VALUES (3, N'Лапушка')
GO
INSERT [dbo].[Order_Items] ([Id_Order_Item], [Id_Order], [Id_Product], [Size], [Quantity], [Unit_Price]) VALUES (1, 1, 1, CAST(25.0 AS Decimal(4, 1)), 1, CAST(2190.00 AS Decimal(10, 2)))
INSERT [dbo].[Order_Items] ([Id_Order_Item], [Id_Order], [Id_Product], [Size], [Quantity], [Unit_Price]) VALUES (2, 1, 7, CAST(23.0 AS Decimal(4, 1)), 2, CAST(2790.00 AS Decimal(10, 2)))
INSERT [dbo].[Order_Items] ([Id_Order_Item], [Id_Order], [Id_Product], [Size], [Quantity], [Unit_Price]) VALUES (3, 2, 2, CAST(34.0 AS Decimal(4, 1)), 1, CAST(2490.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Orders] ([Id_Order], [Order_Date], [Id_User]) VALUES (1, CAST(N'2026-04-01' AS Date), 3)
INSERT [dbo].[Orders] ([Id_Order], [Order_Date], [Id_User]) VALUES (2, CAST(N'2026-04-02' AS Date), 5)
INSERT [dbo].[Orders] ([Id_Order], [Order_Date], [Id_User]) VALUES (3, CAST(N'2026-04-03' AS Date), 7)
GO
INSERT [dbo].[Product_Size_Range] ([Id_Product], [Size]) VALUES (1, CAST(20.0 AS Decimal(4, 1)))
INSERT [dbo].[Product_Size_Range] ([Id_Product], [Size]) VALUES (1, CAST(21.0 AS Decimal(4, 1)))
INSERT [dbo].[Product_Size_Range] ([Id_Product], [Size]) VALUES (1, CAST(22.0 AS Decimal(4, 1)))
GO
INSERT [dbo].[Product_Stock] ([Id_Product], [Size], [Quantity]) VALUES (1, CAST(20.0 AS Decimal(4, 1)), 20)
INSERT [dbo].[Product_Stock] ([Id_Product], [Size], [Quantity]) VALUES (1, CAST(21.0 AS Decimal(4, 1)), 20)
INSERT [dbo].[Product_Stock] ([Id_Product], [Size], [Quantity]) VALUES (1, CAST(22.0 AS Decimal(4, 1)), 20)
GO
INSERT [dbo].[Products] ([Id_Product], [Id_Category], [Id_Subcategory], [Id_Factory], [Image], [Product_Name], [Description], [Composition], [Price]) VALUES (1, 1, 5, 1, N'IMG_KS_195213.png', N'Кроссовки детские «Звёздочка» экокожа', N'Кроссовки детские «Звёздочка» экокожа. Производитель: ООО «Малыш-Спорт», г. Смоленск', N'Верх — экокожа (полиуретан на хлопковой основе), подкладка — хлопок 100%, подошва — ПВХ', CAST(2190.00 AS Decimal(10, 2)))
INSERT [dbo].[Products] ([Id_Product], [Id_Category], [Id_Subcategory], [Id_Factory], [Image], [Product_Name], [Description], [Composition], [Price]) VALUES (2, 1, 5, 2, N'IMG_KS_195217.png', N'Кроссовки детские «Гонщик» экокожа', N'Кроссовки детские «Гонщик» экокожа. Производитель: Фабрика «Топ-Топ», г. Киров', N'Верх — экокожа (микрофибра), подкладка — текстиль сетчатый (полиэстер), подошва — термопластичная резина (ТЭП)', CAST(2490.00 AS Decimal(10, 2)))
INSERT [dbo].[Products] ([Id_Product], [Id_Category], [Id_Subcategory], [Id_Factory], [Image], [Product_Name], [Description], [Composition], [Price]) VALUES (3, 1, 5, 3, N'IMG_KS_195222.png', N'Кроссовки детские «Радуга» экокожа перфорированная', N'Кроссовки детские «Радуга» экокожа перфорированная. Производитель: ИП Смирнова Л.В. (бренд «Лапушка»), г. Вологда', N'Верх — экокожа перфорированная, вставки — нейлон, стелька — ортопедическая с латексной подушкой, подошва — ЭВА', CAST(1990.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Roles] ([Id_Role], [Role_Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([Id_Role], [Role_Name]) VALUES (2, N'Менеджер')
INSERT [dbo].[Roles] ([Id_Role], [Role_Name]) VALUES (3, N'Авторизованный пользователь')
GO
INSERT [dbo].[Subcategories] ([Id_Subcategory], [Subcategory_Name]) VALUES (1, N'Сапоги')
INSERT [dbo].[Subcategories] ([Id_Subcategory], [Subcategory_Name]) VALUES (2, N'Босоножки')
INSERT [dbo].[Subcategories] ([Id_Subcategory], [Subcategory_Name]) VALUES (3, N'Туфли')
GO
INSERT [dbo].[Users] ([Id_User], [Last_Name], [First_Name], [Middle_Name], [Login], [Id_Role]) VALUES (1, N'Иванов', N'Иван', N'Сергеевич', N'isivanov', 1)
INSERT [dbo].[Users] ([Id_User], [Last_Name], [First_Name], [Middle_Name], [Login], [Id_Role]) VALUES (2, N'Петров', N'Пeтр', N'Алексеевич', N'papetrov', 2)
INSERT [dbo].[Users] ([Id_User], [Last_Name], [First_Name], [Middle_Name], [Login], [Id_Role]) VALUES (3, N'Сидорова', N'Анна', N'Дмитриевна', N'asidorova', 3)
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Users__5E55825B455457A6]    Дата создания скрипта: 21.09.2026 23:03:21 ******/ 
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order_Items]  WITH CHECK ADD FOREIGN KEY([Id_Order])
REFERENCES [dbo].[Orders] ([Id_Order])
GO
ALTER TABLE [dbo].[Order_Items]  WITH CHECK ADD FOREIGN KEY([Id_Product])
REFERENCES [dbo].[Products] ([Id_Product])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([Id_User])
REFERENCES [dbo].[Users] ([Id_User])
GO
ALTER TABLE [dbo].[Product_Size_Range]  WITH CHECK ADD FOREIGN KEY([Id_Product])
REFERENCES [dbo].[Products] ([Id_Product])
GO
ALTER TABLE [dbo].[Product_Stock]  WITH CHECK ADD FOREIGN KEY([Id_Product])
REFERENCES [dbo].[Products] ([Id_Product])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([Id_Category])
REFERENCES [dbo].[Categories] ([Id_Category])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([Id_Factory])
REFERENCES [dbo].[Factories] ([Id_Factory])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([Id_Subcategory])
REFERENCES [dbo].[Subcategories] ([Id_Subcategory])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([Id_Role])
REFERENCES [dbo].[Roles] ([Id_Role])
GO
USE [master]
GO
